@font-face {
	font-family: myFirstFont;
	src: url(Neou-Thin.ttf);
}

@font-face {
	font-family: mySecondFont;
	src: url(Mobile Sans.ttf);
}

@font-face {
	font-family: myThirdFont;
	src: url(Grind.ttf)
}

h1 {font-family: myThirdFont, "Lucida Console", Monaco, monospace;
	font-size: 60px;
        color: white;
border: 5px dotted #9966cc;
    padding: 10px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/f7/62/0a/f7620acc89e597614d153457848e5165.jpg");
    background-clip: padding-box;
}

h3 {font-family: myFirstFont, 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
font-size: 24px;
color: white;
}

ul {font-family: mySecondFont, 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
font-size: 16px;
color: white;
}

body {font-family: mySecondFont, 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
font-size: 16px;
color: white;
text-align: center;
background-image: url("http://wallpapercave.com/wp/CpgLM3e.gif");
}

#pic{
width: 300px;
height:300px;
border: 5px solid #9966cc}




.page-title {
text-align: center;


